extends layout 

block content 
  a(href="/") Go back 
  h1= title
  form(action="/new", method="post") 
    label(for="messageUser") User
    input(type="text", name="messageUser", id="messageUser", placeholder="username")
    label(for="messageText") Message
    input(type="text", name="messageText", id="messageText", placeholder="hello...")
    button(type="submit") Send