extends layout 

block content 
  a(href="/") Go back 
  h1= title
  form(action="/new", method="post" autocomplete="off") 
    label(for="messageUser") Author
    input(type="text", name="messageUser", id="messageUser", placeholder="enter your name")
    label(for="messageText") Message
    input(type="text", name="messageText", id="messageText", placeholder="hello...")
    button(type="submit") Send